<div class="d-flex flex-fill p-5 h-100">
    <div class="d-flex flex-column  my-auto">
        <button type="button" class="btn " routerLink='dashboard' [routerLinkActive]="['btn-primary']">
            <span><i class="bi bi-house-door-fill"></i></span>Inicio
        </button>
        <button type="button" class="btn " routerLink='leagues' [routerLinkActive]="['btn-primary']">
            <span><i class="bi bi-collection-fill"></i></span>Ligas
        </button>
        <button type="button" class="btn " routerLink='teams' [routerLinkActive]="['btn-primary']">
            <span><i class="bi bi-diagram-3-fill"></i></span>Equipos
        </button>
        <button type="button" class="btn " routerLink='players' [routerLinkActive]="['btn-primary']">
            <span><i class="bi bi-file-person-fill"></i></span>Jugadores
        </button>
    </div>
</div>