.image-table {
    height: 50px;
    width: 50px;
    border-radius: 500px;
    background-color: #e0e4ed;
    margin-right: 16px;
    object-fit: cover;
}
.image-view-modal {
    height: 100px;
    width: 100px;
    border-radius: 500px;
    background-color: #e0e4ed;
    margin-right: 16px;
}

.search-input {
    margin-left: 16px;
}
