<div class="animate__animated animate__fadeIn">
    <div class="toolbar-container d-flex justify-content-between align-items-center flex-fill">
        <div class="d-flex align-items-center">
            <button *ngIf="back" mat-icon-button (click)="onBackPress()" style="font-size: 24px !important;"
                class="mr-3">
                <span><i class="bi bi-arrow-left"></i></span>
            </button>
            <div class="d-flex align-items-center">
                <span><i [class]="'mr-3 fa ' + icon" style="font-size: 24px !important;"></i></span>
                <div class="d-flex flex-column">
                    <h1 class="title mr-3">{{ title }}</h1>
                    <div class="subtitle">{{ subtitle }}</div>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div>
                <ng-content></ng-content>
            </div>
        </div>
    </div>
    <div class="divider"></div>
</div>