.admin-container {
    background-color: #e1e9fb;
}

.modules-container {
    background-color: white;
    padding: 16px;
    margin: 16px;
    margin-left: 0px;
    border-radius: 25px;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 0.4s;
}
