.admin-container {
    background-color: #e1e9fb;
}

@media (min-width: 1024px) {
    .bottom-menu {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .bottom-menu {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .bottom-menu {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        padding: 16px;
    }

    .bottom-menu button span {
        margin-right: 8px;
    }
}
