<app-toolbar title="Ligas" subtitle="Listado de ligas disponibles" icon="bi-collection-fill">
</app-toolbar>
<app-container [heigth]="165">
    <div class="table-container h-100" [ngClass]="{'loading-data': loading}">
        <div class="d-flex h-100 flex-wrap">
            <div class="d-flex flex-column justify-content-center item-league" *ngFor="let item of leagues"
                data-toggle="modal" data-target="#viewModal" (click)="selectLeague(item)">
                <img class="mx-auto" [src]="item.image" alt="">
                <h5 class="mt-3 text-center">{{item.name}}</h5>
            </div>
        </div>
        <app-loading *ngIf="loading"></app-loading>
    </div>
</app-container>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar Liga</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Está seguro de querer eliminar esta liga?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="deleteLeague()"
                    data-dismiss="modal">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Vista Previa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex">
                    <img class="image-view-modal" [src]="selectedLeague.image" alt="">
                    <div class="d-flex flex-column my-auto">
                        <div>{{selectedLeague.name}}</div>
                    </div>
                </div>
                <div class="d-flex flex-column mt-3">
                    <label>Listado de equipos</label>
                    <app-scroll-view [heightStatic]="400">
                        <table *ngIf="!loading && selectedLeague.teams?.length" class="table">
                            <tbody>
                                <tr *ngFor="let item of selectedLeague.teams">
                                    <td style="width: 100%;">
                                        <div class="d-flex">
                                            <img [src]="item.logo" class="image-table">
                                            <div class="d-flex flex-column my-auto">
                                                <div>{{item.name}}</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </app-scroll-view>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>